@model IEnumerable<MyBlog.Models.Post>
@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>James Winston - Software Developer in Cary, North Carolina</title>
	<link rel="stylesheet" href="/lib/css/styles.css">
	
	<div class="post-container-main">

		@foreach(var post in Model)
		{
			<div class="blog-post">

				<div class="blog-post-thumbnail-square">
					<img class="post-thumbnail" src="images/@post.CoverImagePath" alt="">
				</div>
			
				<div class="post-wrapper">
					<h1 class="post-title"><a href="@Url.Action("Details", "Home", new{slug=post.Slug})">@post.Title</a></h1>

					<p class="post-date">@post.AuthoredDate.ToString("MMM dd"),@post.AuthoredDate.ToString(" yyyy") </p>

					<pre class="post-content post-preview">@post.Content

						</pre>


				</div>
			</div>
		}
	</div>



</head>
<body>


	
</body>
</html>
