@model IEnumerable<MyBlog.Models.Post>
@{
	Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>James Winston - Software Developer in Morrisville, North Carolina</title>

	@foreach(var post in Model)
	{
		<a href="@Url.Action("Details", "Home", new{slug=post.Slug})">@post.Title</a>
		<p>@post.AuthoredDate</p>
		<p>@post.Content</p>
	}



</head>
<body>


	
</body>
</html>
