version: "3"
services:
  myblog:
    build: .
    ports:
      - "5000:5000"
    environment: 
      - ASPNETCORE_ENVIRONMENT=Production
    depends_on:
      - sqlserver

  sqlserver:
    image: "mcr.microsoft.com/mssql/server"
    environment:
      SA_PASSWORD: "**REMOVED**"
      ACCEPT_EULA: "Y"
