<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>James Winston - Software Developer in Cary, NC</title>
		<link rel="stylesheet" href="/lib/css/styles.css">
</head>
<body>
	<div class="grid-container-details">
		<div class="grid-navbar">
			<div class="navbar-container">
				<div class="logo-container">
					<a href="/" class="logo">// James Winston</a>
					<div class="logo-text">Software Developer</div>
				</div>

					<ul class="navbar-items">
						<li class="navbar-link">About</li>
					</ul>
			</div>
		</div>

			<div class="grid-main grid-main-detail">
				<div class="content-container">
					<div>@RenderBody()</div>
				</div>
			</div>

			<div class="grid-footer">
				<div class="footer-text">
					<p>(C) James Winston @DateTime.Now.Year</p>
					<p>Human Generated and Ai-Free.</p>
				</div>

	</div>
</body>
</html>
