<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>James Winston - Software Developer in Cary, NC</title>
		<link rel="stylesheet" href="/lib/css/styles.css">
</head>
<body>
	<div class="grid-container">
		<div class="grid-navbar">
			<div class="navbar-container">
				<div class="logo-container">
						<a href="/" class="logo" class="comment"> // James Winston </a>
					<div class="logo-text">Software Developer</div>
				</div>

					<ul class="navbar-items">
						<li class="navbar-link">About</li>
					</ul>
			</div>
		</div>

			<div class="grid-main">
				<div class="content-container">
					<div>@RenderBody()</div>

				</div>
			</div>

			<div class="grid-sidebar">
				<div class="grid-sidebar-about">
					<div class="grid-sidebar-headshot">
						<img class="thumbnail-headshot" src="/images/orin-headshot.jpg" alt="">

					</div>
					<div class="grid-sidebar-bio">
						<p class="bio-header">About James</p>
						<p>Hi! 👋 I’m a Software Developer, Linux enthusiast and blogger. Here I write about Software Development and any anything else I find interesting.  </p>

					</div>
					<div class="grid-sidebar-social">
						<a href="http://github.com/j-winston">github.com/j-winston</a>
						<a href="linkedin.com/j-winston">linkedin.com/in/j-winston</a>
					</div>
					
				</div>
			</div>
			<div class="grid-footer">
				<div class="footer-text">
					(C) James Winston @DateTime.Now.Year
				</div>

</p>
			</div>

	</div>
</body>
</html>
